<a href="https://colab.research.google.com/github/Pragna235/Python_Projects/blob/main/Deploy_Predicting_Model_16.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Instructions

#### Goal of the Project

This project is designed for you to practice and solve the activities that are based on the concepts covered in the following lessons:

1. While Loop, Data-Type Conversion and Conditional Statements

2. Python Lists

---

#### Getting Started:

1. Click on this link to open the Colab file for this project.

    https://colab.research.google.com/drive/1PLr9T-t3DTOSI4XsF83IzLxjoJoykKNe?usp=sharing

2. Create a duplicate copy of the Colab file as described below.

  - Click on the **File menu**. A new drop-down list will appear.

   <img src='https://student-datasets-bucket.s3.ap-south-1.amazonaws.com/images/lesson-0/0_file_menu.png' width=500>

  - Click on the **Save a copy in Drive** option. A duplicate copy will get created. It will open up in the new tab on your web browser.

  <img src='https://student-datasets-bucket.s3.ap-south-1.amazonaws.com/images/lesson-0/1_create_colab_duplicate_copy.png' width=500>

3. After creating the duplicate copy of the notebook, please rename it in the **YYYY-MM-DD_StudentName_Project16** format.

4. Now, write your code in the prescribed code cells.

### Activities

#### Activity 1: Check whether Square root equals to Cube root

Create a function that takes a list of two numbers and checks if the square root of first number is equal to the cube root of second number.

**Examples**:
```
1. check_square_and_cube([4, 8]) ➞ True

2. check_square_and_cube([16, 48]) ➞ False

3. check_square_and_cube([9, 27]) ➞ True
```
**Notes**

- Remember to return either True or False.

- All lists contain only two positive numbers.

In [ ]:
# Check if the Square root of the First number is Equal to the Cube root of the Second number
def check_square_and_cube(a,b):

  if (a**(1/2)) == (b**(1/3)):
    return True
  else:
    return False
check_square_and_cube(9,27)

True

---

#### Activity 2: Find Sum of the Series

Write a function which takes a natural number $n$ (where $1\leq n \leq 9$) as an input and returns the sum of the series having $n$ number of numbers such that the series is $n, nn, nnn, \dots nnn \dots n $ times.
 
 
Hence, the required sum is
 
$$n + nn + nnn + \dots + nnn \dots n $$
 
For e.g.,
 
- For $n = 1$, the required sum is $1$
 
- For $n = 2$, the required sum is $2 + 22 = 24$
 
- For $n = 3$, the required sum is $3 + 33 + 333 = 369$
 
- For $n = 4$, the required sum is $4 + 44 + 444 + 4,444 = 4936$
 
 $\dots$
 
- For $n = 9$, the required sum is $9 + 99 + 999 + \dots + 999,999,999 = 1111111101$
 
After creating the function, print the required outputs for all the numbers from 1 to 9. 

**Expected Output:**
````
1
24
369
4936
61725
740736
8641969
98765424
1111111101
````

Follow the steps given below to achieve the desired result:

- Define a function `sum_series()` and pass `n` as a parameter that indicates the number for which we need to generate the series.

  Inside this function, perform the following steps:

  - **Step 1**: Initialize 3 variables: 

    1. `max_num = 0`, This is the largest n-digit number having only `n` at all of its places. 

    2. `total = 0`, This variable will store sum of all the numbers.

    3. `count = n - 1`, The `count` variable is used to iterate through the first `while` loop.

  - **Step 2**: Define a `while` loop with condition `count >= 0`. Inside this  `while` loop, 
  
    1. Calculate the maximum number in the series using `max_num = max_num + (10 ** count) * n`. 
    
    2. Decrement the value of `count` by `1`.

  - **Step 3**: Define another `while` loop (outside the 1st `while` loop) with condition `n > 0`. Inside the second `while` loop, 
  
    1. Add the current `max_num` value to the `total` variable.
    
    2. Divide the current `max_num` value by '10' to get an `(n-1)` digit number.

    3. Decrement the value of `n` by `1` each time the loop is executed.

  - **Step 4**: Print the value stored in `total` variable outside the `while` loop which will be holding the expected result.

- Finally, call the function `sum_series()` inside a `for` loop to pass numbers from 1 to 9 as parameters to the function.

In [ ]:
# Write your code here.
def sum_series(n):
  max_num=0
  total=0
  count=n-1
  while count>=0:
    max_num=max_num+(10**count)*n
    count=count-1
  while n>0:
    total=max_num+total
    max_num=(max_num//10)
    
    n=n-1
  return total
for n in range(1,10):
  print(sum_series(n))

1
24
369
4936
61725
740736
8641969
98765424
1111111101

**Q**: What is the sum of series for `n = 7`?

**A**: 8641969

---

### Submitting the Project:

1. After finishing the project, click on the **Share** button on the top right corner of the notebook. A new dialog box will appear.

  <img src='https://student-datasets-bucket.s3.ap-south-1.amazonaws.com/images/project-share-images/2_share_button.png' width=500>

2. In the dialog box, make sure that '**Anyone on the Internet with this link can view**' option is selected and then click on the **Copy link** button.

   <img src='https://student-datasets-bucket.s3.ap-south-1.amazonaws.com/images/project-share-images/3_copy_link.png' width=500>

3. The link of the duplicate copy (named as **YYYY-MM-DD_StudentName_Project16**) of the notebook will get copied 

   <img src='https://student-datasets-bucket.s3.ap-south-1.amazonaws.com/images/project-share-images/4_copy_link_confirmation.png' width=500>

4. Go to your dashboard and click on the **My Projects** option.
   
   <img src='https://student-datasets-bucket.s3.ap-south-1.amazonaws.com/images/project-share-images/5_student_dashboard.png' width=800>

  <img src='https://student-datasets-bucket.s3.ap-south-1.amazonaws.com/images/project-share-images/6_my_projects.png' width=800>

5. Click on the **View Project** button for the project you want to submit.

   <img src='https://student-datasets-bucket.s3.ap-south-1.amazonaws.com/images/project-share-images/7_view_project.png' width=800>

6. Click on the **Submit Project Here** button.

   <img src='https://student-datasets-bucket.s3.ap-south-1.amazonaws.com/images/project-share-images/8_submit_project.png' width=800>

7. Paste the link to the project file named as **YYYY-MM-DD_StudentName_Project16** in the URL box and then click on the **Submit** button.

   <img src='https://student-datasets-bucket.s3.ap-south-1.amazonaws.com/images/project-share-images/9_enter_project_url.png' width=800>

---