<a href="https://colab.research.google.com/github/Pragna235/Python_Projects/blob/main/Histogram_27.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Instructions

#### Goal of the Project

This project is designed for you to practice and solve the activities that are based on the concepts covered in the following lessons:

1. While Loop, Data-Type Conversion and Conditional Statements 

2. Python Lists

---

#### Getting Started:

1. Click on this link to open the Colab file for this project.

   https://colab.research.google.com/drive/13n6yD6w-cO2Fx0xwCVfXW1J88nuIZzeV?usp=sharing 

2. Create a duplicate copy of the Colab file as described below.

  - Click on the **File menu**. A new drop-down list will appear.

   <img src='https://student-datasets-bucket.s3.ap-south-1.amazonaws.com/images/lesson-0/0_file_menu.png' width=500>

  - Click on the **Save a copy in Drive** option. A duplicate copy will get created. It will open up in the new tab on your web browser.

  <img src='https://student-datasets-bucket.s3.ap-south-1.amazonaws.com/images/lesson-0/1_create_colab_duplicate_copy.png' width=500>

3. After creating the duplicate copy of the notebook, please rename it in the **YYYY-MM-DD_StudentName_Project27** format.

4. Now, write your code in the prescribed code cells.

---

### Activities

#### Activity 1: Bonus Calculation

A financial institution has set a scheme to motivate and reward its staff by paying a bonus for each day.

This scheme is calculated with a threshold target of 32 days per quarter, and the incentive payment for each billable day in excess of such threshold target is shown as follows:

|Days                |Bonus                     |
|--------------------|--------------------------|
|0 to 32 days        |Zero                      |
|33 to 40 days       |SGD \$325 per billable day|
|41 to 48 days       |SGD \$550 per billable day|
|Greater than 48 days|SGD \$600 per billable day|


Please note that incentive payment is calculated progressively. As an example, if an employee reached total billable days of 45 in a quarter, his/her incentive payment is computed as follows:
```
32*0 + 8*325 + 5*550 = 5350
```
Write a function to read the billable days of an employee and return the bonus he/she has obtained in that quarter.

**Examples** :
```
calculate_bonus(15) ➞ 0

calculate_bonus(37) ➞ 1625

calculate_bonus(50) ➞ 8200
```

In [ ]:
# Write function to read the billable days of an employee and return the bonus he/she has obtained in that quarter.
def calculate_bonus(n):
  
    if n<=32:
      return 0
    elif n in range(33,41):
      bonus1=(n-32)*325
      return bonus1
    elif n in range(41,49):
      bonus2=(8*325)+((n-40)*550)
      return bonus2
    else:
      bonus3=((8*325)+(8*550)+((n-48)*600))
      return bonus3
calculate_bonus(45)

5350

---

#### Activity 2: Making a Box

Define a function that creates a box based on dimension `n`. Size of box will be `(n X n)` i.e. `n` rows and `n` columns.

**Constraint**

- Size of the `(n x n)` box should always be greater than 2, i.e. `n > 2`.

**Sample Input 1**
```
5
```

**Sample Output 1**
```

  "#####",
  "#   #",
  "#   #",
  "#   #",
  "#####"


```

**Sample Input 2**
```
3
```

**Sample Output 2**
```

  "###",
  "# #",
  "###"

```

**Hints:** 

- Use Python list. Create 3 lists, say `top[]`, `bottom[]` and `middle[]` which signifies top, bottom and middle rows respectively.

  - `top[]` list and `bottom[]` list contains `n` number of `#`.
  
  -`middle[]` list contains `(n-2)` number of spaces between two `#` which are at boundaries. This list is multiplied by `n-2` to get `n-2` rows between top row and bottom row.

- `['#' * n]` gives you `n` number of `#` appended in a list, 
    
    Example : For n = 5 `['#' * 5]` gives you 5 `#` in a list, `['#####']`

- Print all the lists using `*` operator inside the `print()` function as follows:

  `print(*top)` - Here `*` unpacks the list and prints the elements of list as strings. 

(Also, to understand the importance of using `*` operator inside `print()` function, try printing all the lists without `*` and observe the change in the output)

- Print `middle[]` list i.e. middle rows on separate lines using **sep** parameter of `print()` function alongwith `*` operator.

Example of **sep** parameter: 
````
print('1','2','3', sep="\n")  ⟶ 1
                                 2
                                 3  
````
Here separator is **"\n"** which indicates **newline character**. This means that arguments specified in `print()` function must be printed on new line.

In [ ]:
# Write your solution here
n=int(input("Enter any integer greater than 2 = "))
top=["#"*n]
middle=['#'+(' ')*(n-2)+'#']*(n-2)

bottom=["#"*n]

print(*top,*middle,*bottom,sep="\n")

Enter any integer greater than 2 = 5
#####
#   #
#   #
#   #
#####

---

### Submitting the Project:

1. After finishing the project, click on the **Share** button on the top right corner of the notebook. A new dialog box will appear.

  <img src='https://student-datasets-bucket.s3.ap-south-1.amazonaws.com/images/project-share-images/2_share_button.png' width=500>

2. In the dialog box, make sure that '**Anyone on the Internet with this link can view**' option is selected and then click on the **Copy link** button.

   <img src='https://student-datasets-bucket.s3.ap-south-1.amazonaws.com/images/project-share-images/3_copy_link.png' width=500>

3. The link of the duplicate copy (named as **YYYY-MM-DD_StudentName_Project27**) of the notebook will get copied 

   <img src='https://student-datasets-bucket.s3.ap-south-1.amazonaws.com/images/project-share-images/4_copy_link_confirmation.png' width=500>

4. Go to your dashboard and click on the **My Projects** option.
   
   <img src='https://student-datasets-bucket.s3.ap-south-1.amazonaws.com/images/project-share-images/5_student_dashboard.png' width=800>

  <img src='https://student-datasets-bucket.s3.ap-south-1.amazonaws.com/images/project-share-images/6_my_projects.png' width=800>

5. Click on the **View Project** button for the project you want to submit.

   <img src='https://student-datasets-bucket.s3.ap-south-1.amazonaws.com/images/project-share-images/7_view_project.png' width=800>

6. Click on the **Submit Project Here** button.

   <img src='https://student-datasets-bucket.s3.ap-south-1.amazonaws.com/images/project-share-images/8_submit_project.png' width=800>

7. Paste the link to the project file named as **YYYY-MM-DD_StudentName_Project27** in the URL box and then click on the **Submit** button.

   <img src='https://student-datasets-bucket.s3.ap-south-1.amazonaws.com/images/project-share-images/9_enter_project_url.png' width=800>

---