<a href="https://colab.research.google.com/github/Pragna235/Python_Projects/blob/main/Pandas_Series_13.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Instructions

#### Goal of the Project

This project is designed for you to practice and solve the activities that are based on the concepts covered in the following lessons:

  1.  Python List II
  3.  Pandas Series

---

#### Getting Started:

1. Click on this link to open the Colab file for this project.

     https://colab.research.google.com/drive/1RkKhzVNCjkDoO9JEXGHMr0ucDK4kQN5R?usp=sharing
     
2. Create a duplicate copy of the Colab file as described below.

  - Click on the **File menu**. A new drop-down list will appear.

   <img src='https://student-datasets-bucket.s3.ap-south-1.amazonaws.com/images/lesson-0/0_file_menu.png' width=500>

  - Click on the **Save a copy in Drive** option. A duplicate copy will get created. It will open up in the new tab on your web browser.

  <img src='https://student-datasets-bucket.s3.ap-south-1.amazonaws.com/images/lesson-0/1_create_colab_duplicate_copy.png' width=500>

3. After creating the duplicate copy of the notebook, please rename it in the **YYYY-MM-DD_StudentName_Project13** format.

4. Now, write your code in the prescribed code cells.

### Activities

#### Activity 1.1: Pandas Series containing Random Integers

Create a Pandas series containing 40 random integers between 130 and 145. Print this series.

In [ ]:
# Create Pandas series
import pandas as pd
import random
series=pd.Series([random.randint(130,145) for i in range(40)])
print(series)

0     141
1     133
2     132
3     130
4     137
5     132
6     135
7     131
8     142
9     142
10    135
11    137
12    143
13    136
14    137
15    136
16    133
17    142
18    142
19    144
20    136
21    141
22    130
23    142
24    131
25    134
26    134
27    135
28    140
29    130
30    136
31    137
32    136
33    139
34    133
35    145
36    133
37    139
38    145
39    130
dtype: int64

---

#### Activity 1.2: Calculate Mean and Median

Calculate the mean value and median value of the above Pandas series.

In [ ]:
# Calculate the mean and median value
print(series.mean())
series.median()

138.225

139.0

---

#### Activity 1.3: Find Minimum and Maximum

Find the minimum and maximum value in the above Pandas series.

In [ ]:
# Find minimum and maximum value in the above Pandas series
print(series.min())
series.max()

130

145

---

#### Activity 1.4: Arrange in Descending Order

Arrange the values in descending order and print the last five rows of the series.

In [ ]:
# Arrange the values in descending order and print the last five rows
series.sort_values(ascending=False).tail()

7     131
29    130
22    130
3     130
39    130
dtype: int64

---

#### Activity 2: Find whether Two Lines are Parallel

Given two lines, determine whether they are parallel or not.
Lines are represented using a list [a, b, c] which corresponds to the straight line $ax+by=c$.



**Hints:**
- Two lines are parallel if their slopes are equal. 

- A line in the form of $ax+by=c$ has slope $\frac {-a}{b}$. 
- Ignore the minus $(-)$ sign. Just calculate $\frac {a}{b}$ for both lines and find out whether they are equal or not.


**Example:**
```
line1 = [2,3,4] 
line2 = [4,6,8]

Are lines parallel?
True
```

In [ ]:
# Two lines are parallel or not
list1=[2,3,4]
list2=[10,15,20]
if list1[0]/list1[1]==list2[0]/list2[1]:
  print("True! the lines are parallel")
else:
  print("False, the lines are not parallel")

True! the lines are parallel

---

### How To Submit The Project

Follow the steps described below to submit the project.
1. After finishing the project, click on the **Share** button on the top right corner of the notebook. A new dialog box will appear.
  <img src='https://student-datasets-bucket.s3.ap-south-1.amazonaws.com/images/project-share-images/2_share_button.png' width=500>
2. In the dialog box, click on the **Copy link** button. Make sure that '**Anyone on the Internet with this link can view**' option is selected and then click on the **Copy link** button.

   <img src='https://student-datasets-bucket.s3.ap-south-1.amazonaws.com/images/project-share-images/3_copy_link.png' width=500>
3. The link of the duplicate copy (named as **YYYY-MM-DD_StudentName_Project13**) of the notebook will get copied 
   <img src='https://student-datasets-bucket.s3.ap-south-1.amazonaws.com/images/project-share-images/4_copy_link_confirmation.png' width=500>
4. Go to your dashboard and click on the **My Projects** option.
   <img src='https://student-datasets-bucket.s3.ap-south-1.amazonaws.com/images/project-share-images/5_student_dashboard.png' width=800>
   <img src='https://student-datasets-bucket.s3.ap-south-1.amazonaws.com/images/project-share-images/6_my_projects.png' width=800>
5. Click on the **View Project** button for the project you want to submit.
   <img src='https://student-datasets-bucket.s3.ap-south-1.amazonaws.com/images/project-share-images/7_view_project.png' width=800>
6. Click on the **Submit Project Here** button.
   <img src='https://student-datasets-bucket.s3.ap-south-1.amazonaws.com/images/project-share-images/8_submit_project.png' width=800>
7. Past the link to the project named as **YYYY-MM-DD_StudentName_Project13** in the URL box and then click on the **Submit** button.
   <img src='https://student-datasets-bucket.s3.ap-south-1.amazonaws.com/images/project-share-images/9_enter_project_url.png' width=800>

---